.bg {
  height: 100vh;
  left: 0;
  object-fit: cover;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: -5;
}

.shadow-overlay {
  background-color: rgba(0, 0, 0, 0.4);
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: -4;
}
@media (max-width: 700px) {
  .shadow-overlay {
    background-color: rgba(0, 0, 0, 0.7);
  }
}
